[submodule "io-layouts"]
	path = io-layouts
	url = git@github.com:cloudcmd/io-layouts
[submodule "io-ru"]
	path = io-ru
	url = git@github.com:cloudcmd/io-ru
[submodule "io-ua"]
	path = io-ua
	url = git@github.com:cloudcmd/io-ua
[submodule "cloudcmd-io"]
	path = cloudcmd-io
	url = git@github.com:coderaiser/cloudcmd-io
[submodule "cloudcmd"]
	path = cloudcmd
	url = git@github.com:coderaiser/cloudcmd
[submodule "thecat"]
	path = thecat
	url = git@github.com:coderaiser/thecat
[submodule "status-ok"]
	path = status-ok
	url = git@github.com:coderaiser/status-ok
